<?php
return [
    'backend' => [
        'frontName' => 'admin'
    ],
    'crypt' => [
        'key' => 'b814a28fa6fc1777d4ad4d85a2aaa368'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '$database_host',
                'dbname' => '$database_name',
                'username' => '$database_usr',
                'password' => '$database_pwd',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1'
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'production',
    'session' => [
        'save' => 'redis',
        'redis' => [
            'host' => '$redis_host',
            'port' => '$redis_port',
            'password' => '',
            'timeout' => '5',
            'persistent_identifier' => '',
            'database' => '0',
            'compression_threshold' => '1024',
            'compression_library' => 'gzip',
            'log_level' => '3',
            'max_concurrency' => '100000',
            'break_after_frontend' => '10',
            'break_after_adminhtml' => '30',
            'first_lifetime' => '600',
            'bot_first_lifetime' => '60',
            'bot_lifetime' => '7200',
            'disable_locking' => '1',
            'min_lifetime' => '60',
            'max_lifetime' => '2592000'
        ]
    ],
    'cache' => [
        'frontend' => [
            'page_cache' => [
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => '$redis_host',
                    'database' => '1',
                    'port' => '$redis_port',
                    'password' => '',
                    'compress_data' => '9',
                    'compress_tags' => '1',
                    'compress_threshold' => '1024'
                ]
            ],
            'default' => [
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => '$redis_host',
                    'database' => '2',
                    'port' => '$redis_port',
                    'password' => '',
                    'compress_data' => '9',
                    'compress_tags' => '1',
                    'compress_threshold' => '1024'
                ]
            ]
        ]
    ],
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => null
        ]
    ],
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => null
        ]
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1
    ],
    'system' => [
        'default' => [
            'catalog' => [
                'search' => [
                    'elasticsearch7_server_hostname' => '$elasticsearch_host',
                    'elasticsearch7_server_port' => '$elasticsearch_port',
                    'elasticsearch7_index_prefix' => 'magento2',
                    'elasticsearch7_server_timeout' => '15'
                ]
            ]
        ]
    ],
    'downloadable_domains' => [
        '$BE_IMAGE_DOMAIN'
    ],
    'install' => [
        'date' => 'Thu, 21 Nov 2019 06:13:56 +0000'
    ]
];
